<h1>Hi <%= current_user.first_name %></h1>

<% @backed_projects.each do |backed_project| %>
<h2><%= backed_project.title %></h2>
<% current_user.pledges.where(project: backed_project).each do |pledge| %>
<ul>
  <li><%= number_to_currency(pledge.dollar_amount) %></li>
</ul>
<% end %>
<% end %>
