input[type=text],
input[type=password],
input[type=email] {
  padding: 0.25em 0.5em;
  border: 1px solid #f0f0f0;
}

input[type=submit] {
  padding: 0.5em;
  color: white;
  background-color: cadetblue;
  border: 0;

  &:hover {
    background-color: darken(cadetblue, 8%);
  }
}

input#search {
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
