// Typography
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
